.job-content {
	margin-left: 10px;
	font-size: 22px;
	font-family: 'Lato',sans-serif;
}
.jobheading {
	font-weight: 800;
	margin-left: 10px;
	font-size: 18px;
	text-decoration:underline;
}
.jobbody {
	font-weight: 400;
	margin-left: 10px;
	font-size: 18px;
}

.contact-form {
	margin-left: 26px;
}
#map-canvas {
	width: 400px;
	height: 430px;
}

#psn-map-canvas {
	width: 900px;
	height: 430px;
}
.founder-headshot-title {
	float: left;
    left: 25%;
}
.founder-headshot {
	float: left;
    position: relative;
    left: 5%;
    padding: 3px;
}
.founder-headshot:hover {
	
}
.tos-title {
	margin-left: 11px;
	font-size: 18px;
	font-family: 'Arial',sans-serif;
	font-weight: 600;
	border-bottom: 1px solid #999;
	color: #339933;
}

.leadership-body {
	margin-left: 11px;
	font-size: 15px;
}

.leadership-title {
	margin-left: 11px;
	font-size: 25px;
	font-family: 'Lato',sans-serif;
}


.leadership-summary h5 {
	font-size: 30px;
	font-family: 'Lato',sans-serif;
	letter-spacing: -1px;
}

.error-banner-section {
	background-color: white;
	color: #333;
	margin-top: 146px;
	padding: 25px 0px 25px 13px;
}

.breadcrumb-section {
	background-color: white;
	color: white;
	margin-top: 146px;
	padding: 25px 0px 0px 13px;
}

.breadcrumb-override {
	font-size: 13px;
	font-family: 'Lato',sans-serif;
	margin-left: -11px;
	margin-top: -25px;
	background-color: white;
	padding-top: 5px;
}
.breadcrumb li {
	font-size: 10px;
	padding: 0;
	margin-bottom: 0px;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

.careers-main h3 {
	font-size: 22px;
	font-weight: 400;
}

.careers-main .top-row3 h3 {
	font-size: 18px;
	font-weight: 400;
	margin-left: 11px;
}

.careers-main .top-row3 p {
	margin-left: 11px;
}

.careers-main .top-row3 .case-p {
	margin-left: 26px;
	margin-right: 35px;

}
.customer-quote {
	font-weight: 700;
	color: #339933;
}
.careers-main .top-row1 h3 {
	margin-left: 11px;
}
.careers-main .top-row1 p {
	margin-left: 11px;
}

.careers-main .top-row2 p {
	margin-left: 11px;
}
.careers-main .top-row3 h4 {
	font-size: 16px;
	font-weight: 400;
	margin-left: 11px;
}

.careers-top .col-first h3 {
	padding-top: 40px;
}

.careers-top {
	padding: 146px 18px 45px 40px;
}
.careers-middle-rows3 .col-first h3 {
	padding-right: 10px;
}
.careers-top-rows3 {
	padding-bottom: 5px;
}

.careers-middle-rows3 {
	padding-bottom: 5px;
}
.careers-top .col {
	margin-right: -21px;
	border: none;
	padding: 0px
}


.col-first {
	border-left: none;
}

.col-nth {
	border-left: 1px solid #ccc;
}

.col-last {
	border-left: 1px solid #ccc;
}


/* services page */

.svc-summary-zone .svc-summary p {
	margin-left: 25px;
}

.svc-3-col div {
	padding-left: 20px;
}

.svc-3-col {
	padding-right: 75px;
}

.svc-summary {
	padding-right: 50px;
}

.svc-summary-cols3 {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.svc-summary-zone {
	background-color: white;
	padding: 20px 10px 20px 10px;
}

.svc-summary-zone .svc-summary h3 {
	color: #222;
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	font-weight: 100;
	margin-left: 15px;
}
.svc-banner-section {
	background-color: #003300;
	color: white;
	margin-top: 146px;
	padding: 25px 0px 25px 13px;
}

.svc-banner-section h1 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 34px;
	font-weight: 100;
}

.svc-hero-image { 
	background-image: url(../img/hero_bg-stripes-light.1.png);
	background-position: 50% 50%;
	background-size: auto;
	background-repeat: repeat no-repeat;
	width: 100%;
}

.svc-hero-bg {
	background-image: url(../img/photos/svc-banner-hero.1.png);
}
.tech-hero-image { 
	background-image: url(../img/photos/tech-banner-hero.1.png);
	background-position: 50% 50%;
	background-size: auto;
	background-repeat: repeat no-repeat;
	width: 100%;
}



.tech-hero-image h3 {
	color:white;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 100;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: -5px;
	padding: 25px 0px 25px 0px;
}

.svc-hero-image h3 {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 100;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: -5px;
	padding: 25px 0px 25px 0px;
}

.svc-summary-zone .svc-summary h5 {
	color: #222;
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	font-weight: 100;
	margin-left: 15px;
	margin-top: 15px;
	padding-bottom: 20px;
}

.svc-blurb {
	margin-top: 15px;
}

.svc-image {
	padding: 10px;
	border: 1px solid #f0f0f0;
	margin-left: 25px;
}

.svc-summary li {
	border-bottom: 1px solid #f0f0f0;
	display: block;
	padding: 11px 0 10px 0px;
}
/* expertise page */
.exp-summary {
	padding-right: 50px;
}

.exp-summary-cols3 {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.exp-summary-zone {
	background-color: white;
	padding: 20px 10px 20px 10px;
}


.exp-summary-zone .exp-summary h3 {
	color: #222;
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	font-weight: 100;
	margin-left: 15px;
}
.exp-banner-section {
	background-color: #003300;
	color: white;
	margin-top: 146px;
	padding: 25px 0px 25px 13px;
}

.exp-banner-section h1 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 34px;
	font-weight: 100;
}

.exp-hero-image { 
	background-image: url(../img/photos/expertise-banner-hero.jpg);
	background-position: 50% 50%;
	background-size: auto;
	background-repeat: repeat no-repeat;
	width: 100%;
}

.exp-hero-image h3 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 100;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: -5px;
	padding: 25px 0px 25px 0px;
}


.exp-summary-zone .exp-summary h5 {
	color: #222;
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	font-weight: 100;
	margin-left: 15px;
	margin-top: 15px;
	padding-bottom: 20px;
}

.exp-blurb {
	margin-top: 15px;
}

.exp-image {
	padding: 10px;
	border: 1px solid #f0f0f0;
	margin-left: 25px;
}

.exp-summary li {
	border-bottom: 1px solid #f0f0f0;
	display: block;
	padding: 11px 0 10px 0px;
}

/* about page */
.about-summary-zone .about-summary p {
	margin-left: 25px;
}

.about-3-col div {
	padding-left: 20px;
}

.about-3-col {
	padding-right: 75px;
}
.about-summary {
	padding-right: 50px;
}

.about-summary-cols3 {
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.about-banner-section {
	background-color: #003300;
	color: white;
	margin-top: 146px;
	padding: 25px 0px 25px 13px;
}

.about-banner-section h1 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 34px;
	font-weight: 100;
}

.about-hero-image {
	height: 240px;
	background-color: #999;
}

.about-hero-bg {
	background-image: url(../img/photos/about-banner-hero.1.png);
}
.about-hero-image h3 {
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 100;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: -5px;
	padding: 25px 0px 25px 0px;
}

.about-summary-zone .about-summary h3 {
	color: #222;
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	font-weight: 100;
	margin-left: 15px;
	margin-top: 15px;
}

.mini-call-to-action {
	bottom: 1em;
	line-height: 1;
	color: #339933;
}


.top-level-4-column {
	background-color: #F3F2F2;
	padding: 20px 20px;

}

.top-level-4-column  .col-last {
	padding-right: 50px
}

.top-level-4-column .section-4-columns  {
	margin-left: -5px;
}

.top-level-4-column .section-4-columns h2 {
	color: #222;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 100;
}
.top-level-4-column .svc-4-columns  {
	margin-left: -5px;
}

.top-level-4-column .svc-4-columns h2 {
	color: #222;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 100;
}
.big-container {
	overflow-x: hidden;
}

.our-clients-label  {
	padding-top: 15px;
	background-color: #C9C7C7;
	color: white;
}
.intl-section {
	background-color: #444;
	padding-top: 28px;
	padding-bottom: 28px;
	width:  100%;
	color: white;
}

.intl-section p {
	color: white;
}
#ww-cap {
	color: white;
}


.global-reach-image {
	vertical-align: middle; 
}

.news-bg {
	background-color: rgba(102, 102, 102, 0.14);
}



.wwa-blocks {
	overflow: hidden;
	padding: 15px 20px;
	margin-bottom: 25px;
	background: #fcfcfc;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}



.wwa-blocks .search-img img {
	display: block;
	margin: 5px 10px 10px 0;
}



..wwa-blocks-colored p {
	color: #666;
}

.tv-outlink-button-container {
	position: absolute;
	top: 55%;
	left: 60%;
}


.wide-row {
	background-image: url(../img/hero_bg-stripes-light.1.png);
	background-position: 50% 50%;
	background-size: auto;
	background-repeat: repeat no-repeat;
	margin-top:50px;
	width: 100%
}

.wide-row-block {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.wide-row-block .text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #666;
	font-size: 26px;
	line-height: 36px;
	font-weight: 600;
}




.arg-footer-menu,
.arg-footer-menu li,
.arg-footer-menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.arg-top-menu,
.arg-top-menu li,
.arg-top-menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.arg-menu,
.arg-menu ul,
.arg-menu li,
.arg-menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    top: -6px;
}
.arg-footer-menu {
    position: relative;
    background: white;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
} 
.arg-top-menu {
    height: 20px;
    width: 450px;
 	margin-left: 60%;
    background: white;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
} 

.arg-menu {
    height: 28px;
    width: 100%;
 
    background: white;
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 .arg-footer-menu li {
    position: relative;
    list-style: none;
    float: left;
    display: inline-block;
    height: 20px;
}

 .arg-top-menu li {
    position: relative;
    list-style: none;
    float: left;
    display: inline-block;
    height: 20px;
}

.arg-menu li {
    position: relative;
    list-style: none;
    float: left;
    display: inline-block;
    height: 28px;
}

.arg-footer-menu  li a {
    display: inline-block;
    padding: 5px 0px 6px 0px;
    margin: 6px 6px;
    line-height: 14px;
    text-decoration: none;
    text-align: left;
 
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -1px;
 
    color: #333;
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.arg-top-menu  li a {
    display: inline-block;
    padding: 5px 30px 6px 4px;
    margin: 6px 6px;
    line-height: 14px;
    text-decoration: none;
    text-align: left;
 
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: -1px;
    cursor: hand;
 
    color: #333;
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.arg-menu  li a {
    display: inline-block;
    padding: 0px 35px 6px 4px;
    margin: 6px 6px;
    line-height: 15px;
    text-decoration: none;
    text-align: left;
 
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -1px;
 
    color: #333;
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}


.arg-footer-menu  li:first-child a { border-left: none; }
.arg-footer-menu  li:last-child a{ border-right: none; }
 
.arg-footer-menu  li:hover > a { color: #006633; }


.arg-top-menu  li:first-child a { border-left: none; }
 
.arg-top-menu  li:hover > a { color: #006633; }

 

.arg-menu  li:first-child a { border-left: none; }
.arg-menu  li:last-child a{ border-right: none; }
 
.arg-menu  li:hover > a { color: #006633; }

.arg-menu ul {
    position: absolute;
    top: 37px;
    left: 10px;
    background: white;
    padding-top: 8px;
 	opacity: 0;
 	border: 1px solid #e2e2e2;
	-webkit-box-shadow: 0 1px 3px 0 #e2e2e2;
	box-shadow: 0 1px 3px 0 #e2e2e2;
    -webkit-border-radius: 0 0 1px 1px;
    -moz-border-radius: 0 0 1px 1px;
    border-radius: 0 0 1px 1px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}


.arg-menu li:hover > ul { opacity: 1; }


.arg-menu > li:hover:after  {
	content: "";
	position: absolute;
	top: 101%;
	left: 17%;
	z-index: 1000;
	border-bottom: 9px solid #003300;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	margin-left: -8px;
}




.arg-menu ul li {
    height: 0;
	overflow: hidden;
    padding: 7;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}


.arg-menu li:hover > ul li {
    height: 30px;
    overflow: hidden;
    padding: 3;
}


.arg-menu ul li a {
    padding: 0px 0px 6px 8px;
    margin: 0;
    text-align: left;
    font-size: 13px;
}
.arg-menu .careers {
    width: 135px;
}
.arg-menu .services {
    width: 300px;
}
.arg-menu .expertise {
    width: 190px;
}
.arg-menu .solutions {
    width: 160px;
}
.arg-menu .about {
    width: 90px;
}
.arg-menu ul li:last-child a { border: none; }

/* reset webkit search input browser style */
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; /* remove the search and cancel icon */
}
.arg-search {
	-webkit-border-radius: 7em;
	-moz-border-radius: 7em;
	border-radius: 7em;	
}
#cse-search-box input[type=search] {
	background-image: url("../img/search-icon.1.png");
	background-color: #ededed;
	background-repeat: no-repeat;
    	background-position: 7px;
	border: solid 1px #ccc;
	padding: 0px 8px 1px 1px;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
	margin-top: -35px;
	float: right;
}

#cse-search-box input[type=search]:hover {
	width: 130px;
	padding-right: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
	background-position: 135px;
	border-color: #99cc99;
	background-color: #fff;
	
	-webkit-box-shadow: 0 0 5px rgba(153,204,153,.5);
	-moz-box-shadow: 0 0 5px rgba(153,204,153,.5);
	box-shadow: 0 0 5px rgba(153,204,153,.5);
}
#cse-search-box input:-moz-placeholder {
	color: transparent;
}
#cse-search-box input::-webkit-input-placeholder {
	color: transparent;
}

header{
	background: #fff;
}

header .logo{
	padding: 15px 0px 15px 0px;
	margin-top: -10px;
}

header .tagline {
	padding: 25px 0px 0px 10px;
}

header .tagline h5 {
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 5px;
	margin-left: 5%;
	color: #339933;
	font-family: 'Lato',sans-serif;
}

header .tm-header-tiny {
	font-size: 8px;
	vertical-align: top;
}

header .logo h1{
	font-size: 40px;
	line-height: 45px;
	margin-bottom: 5px;
}

.t-and-c {
	float: left;
	font-size: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.copyright {
	float: right;
	font-size: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu-social {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: -25px;
}

.social-link {
	padding-right: 6px;
}
.wwa-blocks-green {
	background: rgba(153, 204, 153, 0.24);
}

.svc-hl-item:nth-last-of-type(1) {
	border-right: 0px;
}


.svc-hl-item {
    padding: 15px 5px 0px 15px;
	vertical-align:	top;
	border-right: 1px solid #9c9;
}

tr td:nth-last-of-type(2) {
	border-right: 0px;
}

.svc-hl-item h5 {
    padding-top: 10px;
}

.svc-hl-container {

}
.svc-highlight {
	background-color: rgba(153, 204, 153, 0.24);
	border-top: 1px solid #9c9;
	border-bottom: 1px solid #9c9;
	padding-bottom:	30px;
	padding-top: 10px
}

.fixed-header {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	z-index: 999;
	display: block;
	height: 146px;
	clear: none;
	border-bottom: 1px solid black;
	background-color: white;
	box-shadow: #063 0px 0px 1px 0px;
}



.iosSliderSection {
	clear: both;
	width: 100%;
	padding: 0 0 345px;
	margin-top: 146px;
	position: relative;
}

.fluidHeight {
	position: absolute;
	width: 100%;
	height: 395px;
	background: #222 ;
}

.sliderContainer {
	height: 100%;
	max-height: 395px;
	padding: 0 0;
}

.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height:	450px
}

.iosSlider .slider {
	width: 100%;
	height: 395px;
}

.iosSlider .slider .item {
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
}

.iosSlider .slider .item .inner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height:	100%;
	margin: 0 auto;
	height: 100%;
	box-shadow: 0 0 10px -5px #000;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

.iosSlider .slider .item .inner h2 {
	position: relative;
	top: 50px;
}

.iosSlider .slider .item1 .inner .text3 h2 {
	display: none;
}

.iosSlider .slider .item1 .inner .text2 h2 {
	color: #004221;
	text-align: left;
	left: 50.5%;
	top: -15px
}

.iosSlider .slider .item1 .inner .text1 h2 {
	color: #004221;
	text-align: right;
	left: -50.5%;
	top: 40px
}

.iosSlider .slider .item2 .inner .text1 h2 {
	color: #fff;
	text-align: center;
}

.iosSlider .slider .item3 .inner .text1 h2 {
	color: #163150;
	text-align: center;
}



.iosSlider .slider .item1 .inner {
	background-image: url(../img/photos/s1.jpg);
	background-position: 50% 0;
}

.iosSlider .slider .item2 .inner {
	background-image: url(../img/photos/s2.jpg);
}

.iosSlider .slider .item3 .inner {
	background-image: url(../img/photos/s3.jpg);
}

.sliderContainer .slideSelectors {
	position: relative;
	bottom: 20px;
	left: 0;
	width: 1024px;
	margin: 0 auto;
	z-index: 1;
	height: 10px;
}

.sliderContainer .slideSelectors .item {
	float: left;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	border: 1px solid #666;
	background: #999;
	margin: 0 0 0 10px;
	opacity: .7;
	filter: alpha(opacity=100);
}

.sliderContainer .slideSelectors .selected {
	background: #222;
	opacity: 1;
	filter: alpha(opacity=100);
}

.sliderContainer .scrollbarContainer {
	position: relative;
	bottom: 4px;
	left: 0;
	width: 1024px;
	height: 4px;
	margin: 0 auto;
	z-index: 1;
}

@media screen and (max-width: 1113px) {

.iosSlider .slider .item .inner h2 {
	font-size: 38px;
}

.iosSlider .slider .item1 .inner {
	background-position: 50% 0px;
}

.iosSlider .slider .item2 .inner {
	background-position: 50% 0px;
}

.iosSlider .slider .item3 .inner {
	background-position: 50% 0px;
}

.sliderContainer .slideSelectors {
	width: 92%;
	margin: 0 4%;
}
	
.sliderContainer .scrollbarContainer {

}

.svc-hl-item h5 {
	font-size: 14px;
}

	
.svc-hl-item {
	padding: 0 5px 0 5px;
}

header .tagline h5 {
		font-size: 20px;
		margin-left: 25%;
}

@media screen and (max-width: 768px) {
	
	.tv-outlink-button-container {
		position: absolute;
		top: 55%;
		left: 40%;
	}
	
	.iosSlider .slider .item1 .inner {
		background-size: auto 100%;
	}
	
	
	.iosSlider .slider .item .inner .text2 h2 {
		top: -6px;
	}
	
	.iosSlider .slider .item .inner .text2 h2  {
		font-size: 24px;
		line-height: 36px;

	}
	
	.iosSlider .slider .item1 .inner {
		background-image: url(../img/photos/s1-small.jpg);
		background-position: 50% 0;
	}

	.iosSlider .slider .item .inner .text1 h2 {
		top: 35px;
	}
	
	.iosSlider .slider .item .inner .text1 h2  {
		font-size: 24px;
		line-height: 36px;
	}

	.col-nth {
		border-left: none;
	}

	.col-last {
		border-left: none;
	}
	header .tagline h5 {
		font-size: 20px;
		margin-left: 25%;
	}
}

@media screen and (max-width: 580px) {

	.arg-menu li a {
		font-size: 12px;
		margin-left: 0px;
	}
	.arg-top-menu {
		margin-left: 20%;
	}
	
	header .tagline h5 {
		font-size: 17px;
		margin-left: 15%;
	}
}

@media screen and (max-width: 500px) {
	
	.fixed-header {
		height: 170px;
	}

	.arg-menu li a {
		display: inline-block;
		padding: 0px 10px 6px 0px;
		margin: 2px 2px;
		line-height: 15px;
		text-decoration: none;
		text-align: left;
		font-family: 'Open Sans', sans-serif;
		font-size: 10px;
		letter-spacing: 0px;
		color: #333;
		-webkit-transition: color .2s ease-in-out;
		-moz-transition: color .2s ease-in-out;
		-o-transition: color .2s ease-in-out;
		-ms-transition: color .2s ease-in-out;
		transition: color .2s ease-in-out;
	}

	.arg-top-menu li a {
		font-size: 12px;
	}
	
	.arg-menu a {
		margin: 0;
		padding: 0;
		border: none;
		outline: none;
		top: 0px;
	}
	
	.arg-menu ul {
		top: 25px;
		left: 1px;
	}
	
	.arg-menu {
		height: 15px;
		top: 0px;
		left: 2px;
		width: 100%;
		margin-left: -10px;
	}
	.arg-menu > li:hover:after  {
		content: "";
		position: absolute;
		z-index: 1000;
		border-bottom: 9px solid transparent;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		margin-left: 0px;
	}

	.tv-outlink-button-container {
		position: absolute;
		top: 55%;
		left: 40%;
	}

	header .logo {
		margin-top: 15px;
	}
	
	.iosSlider .slider .item1 .inner .text1 {
		display: none;
	}
	
	.iosSlider .slider .item1 .inner .text2 {
		display: none;
	}
	
	.iosSlider .slider .item1 .inner .text3 h2 {
		display: block;
		font-size: 24px;
		line-height: 25px;
		color: #004221;
		text-align: center;
	}
	
	.iosSlider .slider .item1 .inner {
		background-image: url(../img/photos/s1-small.jpg);
		background-position: 50% 0;
	}
		
	.arg-menu li a {
		font-size: 14px;
		margin-left: 0px;
	}
		
	#cse-search-box input[type=search] {
		display: none;
	}
	
	.arg-top-menu {
		margin-left: 20%;
		
	}
	.arg-top-menu li a {
		font-size: 11px;
		margin-left: 0px;
	}
	header .tagline h5 {
		font-size: 16px;
		margin-left: 25%;
	}

@media screen and (max-width: 400px) {
	.iosSlider .slider .item1 .inner .text3 h2 {
		display: block;
		font-size: 24px;
		line-height: 25px;
		color: #004221;
		text-align: center;
	}
	
	.iosSlider .slider .item1 .inner {
		background-image: url(../img/photos/s1-small.jpg);
		background-position: 50% 0;
	}
	
	.about-hero-image {
		height: 300px;
	}
	.arg-menu li a {
		font-size: 11px;
		margin-left: 0px;
	}
	.arg-top-menu {
		margin-left: 0%;
	}
	.header-logo-image {
		width: 120px;
	}
	header .tagline h5 {
		font-size: 16px;
		margin-left: 25%;
	}
	.t-and-c-copyright {
		display: none;
	}
	.social-link {
		margin: -50px;
	}
	
	 .arg-footer-menu li {
		padding-bottom: 30px;
	}
		
}
}


/* color */


a{
	color: #004221;
}

a:hover{
	color: #222;
}

blockquote{
	border-left: 4px solid #00b83e;
}
